<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UnitList</key>
	<array>
		<dict>
			<key>UnitType</key>
			<integer>0</integer>
			<key>Status</key>
			<dict>
				<key>Speed</key>
				<integer>5</integer>
				<key>Armor</key>
				<integer>1</integer>
				<key>Dcp</key>
				<integer>1</integer>
				<key>Dur</key>
				<integer>2</integer>
				<key>Sensor</key>
				<integer>1</integer>
				<key>Avoid</key>
				<integer>3</integer>
				<key>Shooting</key>
				<integer>2</integer>
				<key>Grapple</key>
				<integer>3</integer>
			</dict>
			<key>Name</key>
			<string>Light</string>
			<key>FileName</key>
			<string>Unit_Light.png</string>
		</dict>
		<dict>
			<key>UnitType</key>
			<integer>1</integer>
			<key>Status</key>
			<dict>
				<key>Speed</key>
				<integer>4</integer>
				<key>Armor</key>
				<integer>2</integer>
				<key>Dcp</key>
				<integer>1</integer>
				<key>Dur</key>
				<integer>3</integer>
				<key>Sensor</key>
				<integer>1</integer>
				<key>Avoid</key>
				<integer>2</integer>
				<key>Shooting</key>
				<integer>2</integer>
				<key>Grapple</key>
				<integer>2</integer>
			</dict>
			<key>Name</key>
			<string>Normal</string>
			<key>FileName</key>
			<string>Unit_Normal.png</string>
		</dict>
		<dict>
			<key>UnitType</key>
			<integer>2</integer>
			<key>Status</key>
			<dict>
				<key>Speed</key>
				<integer>2</integer>
				<key>Armor</key>
				<integer>3</integer>
				<key>Dcp</key>
				<integer>1</integer>
				<key>Dur</key>
				<integer>4</integer>
				<key>Sensor</key>
				<integer>1</integer>
				<key>Avoid</key>
				<integer>1</integer>
				<key>Shooting</key>
				<integer>3</integer>
				<key>Grapple</key>
				<integer>2</integer>
			</dict>
			<key>Name</key>
			<string>Heavy</string>
			<key>FileName</key>
			<string>Unit_Heavy.png</string>
		</dict>
	</array>
</dict>
</plist>
